body {
    background-color: #d2f3f4;
}

div {
    text-align: center;
    font-family: "Calibri";
    font-size: 20px;
    font-weight: bold;
  }

p {
    text-align: center;
    font-family: "Calibri";
    font-size: 40px;
    font-weight: bold;
} 
 